starvation.ipynb
.ipynb_checkpoints
starvation.txt
trial.py
__pycache__
development.ipynb
inhibitor.ipynb
outputs
data/daymet
data/cmip6
data/modis
data/pheno_params
data/pheno_eval
data/pheno_params_test
data/pheno_params_adamw
data/917
data/923
data/922
data/pheno_params*